.main-footer {
  width: 100%;
  padding: 30px 0;
  border-top: 1px solid #e2e8f0;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #64748b;
  font-size: 0.9rem;
}
.text-footer {
  margin: 0;
}

.main-footer strong {
  color: #1e3a8a;
  margin-left: 5px;
}
